@import url('https://fonts.googleapis.com/css2?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: cornflowerblue;
    color: red;
    width: 100%;
}
.columna1 {
background-color: black;
color: white;
width: 100px;
}

.cabecera {
background-color: whitesmoke; 
}

.principal{
font-family:"Spectral SC";
}

.pizza{
font-family:"PT Serif";
}

.macarrones{
font-family: "PT Serif";
}

.titulomacarron{
color: #333;
font-size: 20px;
}

.titulomacarrondos{
color: #666;
font-size: 16px;
}

.titulopizza{
color: #333;
font-size: 20px;
}

.titulopizzados{
color: #666;
font-size: 16px; 
}
.ordenada{
font-family:"Roboto Mono";
}
.desordenada{
font-family:"Bebas Neue";
}
li{
    font-size: 12px;
}