#total{
    width: 830px;
    background-color: #fef2cd;
    border-color: black;
}

#cabecera{
    
}
#dos{
    
}

#tres{
    text-align: center;
}

#cuatro{
    float: left;
}

#cinco{
    text-align: center;
}

#seis{
    float: right;
}

#siete{
    float: left;
}

#ocho{
    
}

#nueve{
    
}

#diez{
    
}

#once{
    
}

#doce{
    
}
