#titulo{
    text-align: center;
    font-size: 75px
}
#total{
    background-color:lightgrey;
}
#fotocris1{
    width: 550px;

}
#vector1{
    width: 100%;
    height: 250px;
    
}
.container-fluid{
    padding-left: 0%;
}
.champions{
    width: 100px;
    margin-right: 5px;
}
.mundialito{
    width: 55px;
    margin-right: 25px;
    margin-left: 25px;
}
.supercopaeu{
    width: 50px;
    margin-right:30px;
    margin-left: 25px;
}
.premier{
    width: 100px;
    margin-right: 5px;
    margin-left: 20px;

}
.comunity{
    width: 100px;
    margin-right: 5px;
    margin-left: 20px;

}
.carabao{
    width: 100px;
    margin-right: 5px;
    margin-left: 20px;
}
.facup{
    width: 100px;
    margin-right: 5px;
    margin-left: 20px;
}
.liga{
    width: 130px;
    margin-right: -40px;
}
.coparey{
    width: 75px;
    margin-right: 5px;
    margin-left: 20px;
}
.superes{
    width: 75px;
    margin-right: 5px;
    margin-left: 20px;
}
.ligait{
    width: 75px;
    margin-right: 5px;
    margin-left: 20px;
}
.copait{
    width: 100px;
    margin-right: 3px;
    margin-left: 6px;
}
.superitalia{
    width: 50px;
    margin-right: 5px;
    margin-left: 30px;
    margin-top: 5px;
}
.superpor{
    width: 80px;
    margin-right: 3px;
    margin-left: 6px;
}